{{extend './layout.html'}}

{{block 'header'}}
<link rel="stylesheet" href="/public/css/collect.css">
<script src="/public/js/collect.js"></script>
{{/block}}

{{block 'main'}}
<ul class="topic-list">
  {{each collects item}}
  <li>
    <a href="/topic/{{item.id}}" target="_blank">
      <h2 class="title">
        <span class="tag {{getTagInfo(item).className}}">{{getTagInfo(item).text}}</span>
        <span class="text">{{item.title}}</span>
      </h2>
      <div class="content">
        <img data-src="{{item.author.avatar_url}}" width="40" height="40" class="avatar">
        <div class="info">
          <p>
            <span>{{item.author.loginname}}</span>
            <span><b>{{item.reply_count}}</b> /{{item.visit_count}}</span>
          </p>
          <p>
            <time>{{getLastTime(item.create_at)}}</time>
            <time>{{getLastTime(item.last_reply_at)}}</time>
          </p>
        </div>
      </div>
    </a>
  </li>
  {{/each}}
</ul>
{{/block}}

