<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="icon" href="/public/image/cnode_icon_32.png" type="image/x-icon"/>
  <link rel="stylesheet" href="/public/css/common.css">
  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/layout.js"></script>
  {{block 'header'}}{{/block}}
</head>
<body>
<div class="header">
  <div class="toolbar">
    <i class="icon-menu"></i>
  </div>
  <h1>{{head}}</h1>
  <div class="create">
    <a href="/topic/create">
      <i class="icon-plane"></i>
    </a>
  </div>
</div>
<div class="mask"></div>
<div class="menu">
  <div class="user-info">
    {{if !user.id}}
    <div class="login-no">
      <a href="/login">
        <i class="icon-login"></i>
        <span>登录</span>
      </a>
    </div>
    {{else}}
    <div class="login-yes">
      <a href="/user/{{user.name}}">
        <img src="{{user.avatar}}" width="40" height="40" class="avatar">
        <span class="name">{{user.name}}</span>
        <i class="icon-next"></i>
      </a>
      <div class="btns">
        <a class="my-collect" href="/my-collect">我的收藏</a>
        <div class="logout">退出登录</div>
      </div>
    </div>
    {{/if}}
  </div>
  <ul class="menu-list">
    {{each menuList item}}
    <li>
      <a href="{{item.to}}">
        <i class="icon-{{item.name}}"></i>
        <span>{{item.text}}</span>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
<div class="main">
  {{block 'main'}}{{/block}}
</div>
<div class="back-to-top">
  <i class="icon-back-to-top"></i>
</div>
</body>
</html>
